/*
[class*="col-"], footer{
    background-color: rgba(243, 77, 77, 0.596);
    border: 2px solid black;
    line-height: 40px;
    border-radius: 6px;
}/*

/* Ajout de police d'ecriture exotique*/
@font-face {
	font-family: 'arimo-regular';
	src: url('./font/arimo-regular.ttf');

	font-family: 'arimo-bold';
	src: url('./font/arimo-bold.ttf');

	font-family: 'Nimbus-regular';
	src: url('./font/Nimbus-regular.ttf');

	font-family: 'URW-Grotesk-Light';
	src: url('./font/URW-Grotesk-Light.ttf');
}

/* Empêche le dépassement des flottants. */
.container-fluid {
	overflow: hidden;
}

/****** colonne gauche ******/
/* Mise en couleur du fond*/
div.col-lg-4 {
	background-color: #FECA07;
}
 
/*Mise en fome de la photo de profil*/
img{
	display: flex;
	justify-content: center;
	width: 350px;
	height: 350px;
	margin: auto;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1);
}

/* couleur du prenom */
h4, .prenom, .fa, aside.col-lg-4::before, aside.point.col-lg-4::before{
	color: #FECA07;
}

/* mise en forme des titres h4 (contact,apropos,loisirs)*/
h4{
	font-family: "Nimbus-regular";
	background-color: #404040;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	text-transform: uppercase;
}

/* Mise en forme des sections */
section{
	margin-top: 10%;
}

address p a{
	font-weight: normal;
	line-height: 90%;
}

/* a propos de moi */
.a_propos{    
	font-family: "URW-Grotesk-Light";
	margin-bottom: 25%;
	padding-bottom: 110%;
}

/*Loisirs*/
/* placement des fonts awesome*/
.circle{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 250%;
}

/* creation des cercles*/
.circle i{
	color: #404040;
	border: 6px solid #404040;
	padding: 20px;
}

/****** Colonne de droite *******/
/* gestion de la box nom titre du job*/
.col-lg-11{
	margin-top: 12%;
	margin-bottom: 17%;
}

/* Mise a la taille de la font*/
.nom{
	font-size: 3.5em;
}

/* Mise a la taille et a la couleur du job*/
.job{
	color: #4A4A4A;
}

/* soulignement du job */
.underline {
	border-bottom: 2px solid #FECA07;
}

/* aspect des titres des sections "Formation", "Expérience professionelle" et "Recommandations" */
.formation h3, .exp_pro h3, .recommandation h3 {
	text-transform: uppercase;
}

/* Mise en forme des barres jaune */
hr{
	height: 2px;
	width: auto;
}

/* Alignement des fonts awesome */
h3 i{
	font-size: 2em;
}

/* Font awesome */
aside.col-lg-4::before, aside.point.col-lg-4::before{
	font-family: "Font Awesome 5 Free";
}

aside.col-lg-4::before{
	content: "\f192";
	font-weight: 200; 
}

aside.point.col-lg-4::before{
	content: "\f111";
	font-weight: 900;
}

/* alignement des date et localisation */
aside.col-lg-4{
	padding-left: 7%;
}

/* position de localisation */
.localisation{
	margin-left: 7.9%;
}

/* centrage des textes */
.col-lg-6{
	text-align: center;
}

/*****Inferieur a 375px*****/
@media screen and  (max-width: 374px) {

	/* Photo de profil */
	img{
		margin: 20 0 2
		0 0;
		width: 100px;
		height: 100px;
	}

	/* a propos de moi */
	.a_propos{    
		font-family: "URW-Grotesk-Light";
		margin-bottom: 25%;
		padding-bottom: 5%;
		font-size: 1em;
	}

	/* Taille de la police de titres */
	.h1{
		font-size: 1.5em;
	}

	.h2{
		font-size: 0.6em;
	}

	.h4{
		font-size:1.5em;
	}

	/* alignement des fonts awesome */
	.rounded-circle{
		font-size: 0.6em;
	}

	/* Reprise des taille de police colonne droite */
	.nom{
		font-size: 3.5em;
	}

	.job{
		font-size: 1.8em;
	}

	h5{
		font-size: 1em;
	}

	/* alignement des dates et localisations */
	aside.col-lg-4{
		margin-left: 12%;
	}

	/* resize titre H3 */
	section h3.h3 {
		font-size: 0.6em;
	}

	p.pl-5{
		margin-right: 10%;
	}

	/* aligenment des balises hr */

	h5.employeur{
		margin-left: -15%;
	}
	
	
}

/*****MOBILE*****/
@media screen and (min-width: 375px) and (max-width: 767px) {

	/* Photo de profil */
	img{
		display: flex;
		justify-content: center;
		width: 150px;
		height: 150px;
		margin: auto;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1);
	}
	
	/* a propos de moi */
	.a_propos{    
		font-family: "URW-Grotesk-Light";
		margin-bottom: 25%;
		padding-bottom: 5%;
	}

	/* Taille de la police de titres */
	.h2{
		font-size: 0.6em;
	}

	.h4{
		font-size: 2em;
	}

	/* alignement des dates et localisations */
	aside.col-lg-4{
		margin-left: 10%;
	}

	/* resize titre H3 */
	section h3.h3 {
		font-size: 0.7em;
	}

	p.pl-5{
		margin-right: 10%;
	}

	/* aligenment des balises hr */

	h5.employeur{
		margin-left: -15%;
	}
}

/*****TABLETTE*****/
@media screen and (min-width: 768px) and (max-width: 1024px) {

	/* Photo de profil */
	img{
		display: flex;
		justify-content: center;
		width: 250px;
		height: 250px;
		margin: auto;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1);
	}
	
	/* a propos de moi */
	.col-lg-4 article .a_propos{    
		font-family: "URW-Grotesk-Light";
		margin-bottom: 25%;
		padding-bottom: 5%;
	}

	/* size name */
	.h2{
		font-size: 1em;
	}

	/* size job */
	.h4{
		font-size: 2em;
	}

	/* alignement des dates et localisations */
	aside.col-lg-4{
		margin-left: 5%;
	}

	/* resize titre H3 */
	section h3.h3 {
		font-size: 1.5em;
	}

	p.pl-5{
		margin-right: 10%;
	}

	/* aligenment des balises hr */

	h5.employeur{
		margin-left: -15%;
	}
}